<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="name">Enter username:</label>
    <input type="text" th:field="*{username}" id="username">

    <br/>

    <label for="name">Enter password:</label>
    <input type="text" th:field="*{password}" id="password">

    <br/>

    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name">

    <br/>

    <label for="lastName">Enter last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName">

    <br/>

    <input type="submit" value="Create"/>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out">
</form>

</body>
</html>